body {
    font-family: "Gotham", sans-serif;
    text-align: center;
    /* background-color: rgb(253, 254, 254);*/
    background-color: rgb(221, 200, 154);
   
  }
  
  img {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 150px;
  }
  
  h1 {
    color: withe;
  }
  
  a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
  }
    
  .btn {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-size: 200% auto;
    color: white;
    max-width: 300px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    flex: 1 1 auto;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-position: right center;
  }
  
  .btn-1 {
    background-image: linear-gradient(
      to right,
      #965f36 0%,
      #bc955b 51%,
      #965f36 100%
    );
  }
  
  .btn-2 {
    background-image: linear-gradient(
      to right,
      #7a0e12 0%,
      #560a0c 51%,
      #330607 100%
    );
  }
